#box{
    width: 100%;
    background-color: #ffffff;
}
.header{
    /* width: 1090px; */
    height: 176px;
}
/* 头部 */
.header_top{
    height: 36px;
    background-color: #333;
}
.header_top_content{
    width: 1090px;
    background-color: #333;
    margin: 0 auto;
}
.header_top_content_left{
    float: left;
    height: 36px;
}
.notice{
    height: 36px;
    width: 400px;
    cursor: pointer;
}
.notice:hover .notice_text{
    color: #fff;
    text-decoration: none;
}
.notice>a{
    display: inline-block;
    height: 36px;
}
.notice_text{
    font-size: 12px;
    color: #cc9756;
    text-decoration: underline;
    line-height: 36px;
}
/* .notice_text:hover{
    color: #fff;
    text-decoration: none;
} */
.notice>.icon-laba{
    color: #b4a078;
    font-size: 14px;
    margin-left: 2px;
    margin-right: 8px;
}
.header_top_content_right{
    float: right;
}

.f_left{
    float: left;
}
.f_right{
    float: right;
}

.right_nav{
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    text-align: center;
    position: relative;
}
.right_nav .icon{
    background: url(../images/icon.jpg) 0px -3207px;
    width: 20px;
    height: 10px;
    display: inline-block;
    margin-top: 15px;
    transform: rotate(180deg);
}
.right_nav .icon_last{
    background-position: 0px 0px;
    width: 13px;
    height: 11px;
    margin-top: 14px;
    transform: none;
}
.right_nav:hover>a{
    color: #fff;
}
/* hover效果 */
.right_nav:nth-child(5):hover>.menu{
    display: block;
}
.right_nav:nth-child(6):hover>.menu{
    display: block;
}
.right_nav:nth-child(7):hover>.appbox{
    display: block;
}
/* 边框竖线 */
.right_nav::before{
    content: "";
    display: inline-block;
    height: 16px;
    border-left: 1px solid #5c5c5c;
    vertical-align: middle;
    margin: 0 7px 0 10px;
}
.right_nav_first::before{
    display: none;
}
/* 导航颜色 */
.right_nav a{
    display: inline-block;
    color: #ccc;
}
/* hover显示 */
.right_nav .menu{
    width: 83px;
    height: 163px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 3px 0;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
    box-sizing: border-box;
    left: 10px;
    display: none;
    z-index: 3;
}
.right_nav .menu.menu_first{
    height: 124px;
}
.right_nav .menu>.menu_a{
    width: 55px;
    position: relative;
    display: block;
    margin: 0 13px;
    color: #999;
    text-align: center;
    line-height: 38px;
    border-top: 1px solid #ddd;
    white-space: nowrap;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}   
.right_nav .menu>.menu_a:hover{
    color: #b4a078;
}
.right_nav .menu>.menu_a:first-child{
    border-top: 0;
}
.menu_icon{
    display: block;
    width: 12px;
    height: 7px;
    position: absolute;
    background: url(../images/icon.jpg) 0 -705px;
    top: -7px;
    left: 0;
    right: 0;
    margin: auto; 
}
/* app:hover显示二维码 */
.appbox{
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    left: -32px;
    width: 139px;
    height: 157px;
    padding: 3px 0;
    box-sizing: border-box;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
    display: none;
    z-index: 4;
}
.appbox_img{
    width: 117px;
    height: 117px;
    margin: 5px auto;
}
.appbox>span{
    display: block;
    text-align: center;
    line-height: 1;
    color: #b4a078;
    font-size: 12px;
}



/* 搜索, logo, nav */
.header_nav{
    height: 140px;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
}
/* 头部盒子 */
.header_box{
    width: 1090px;
    height: 140px;
    /* background-color: skyblue; */
    margin: 0 auto;
    position: relative;
}
/* logo动态图 */
.header_box_logo{
    float: left;
    width: 362px;
    height: 104px;
}
/* 搜索 */
.header_box_seach{
    position: relative;
    margin-left: 13px;
    margin-top: 26px;
    float: left;
    width: 532px;
    height: 36px;
    /* top: -104px;
    left: -180px; */
    /* background-color: red; */
}
/* input框 */
.header_box_seach .inp_s{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: block;
    height: 38px;
    line-height: 38px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #CC9756;
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
    font-size: 14px;
    width: 442px;
    padding-left: 38px;
    outline: 0;
    overflow: hidden;
    background: 0 0;
    box-sizing: border-box;
}
.header_box_seach .header_box_seach_inp{
    position: relative;
}
.header_box_seach .associate{
    position: absolute;
    width: 424px;
    /* height: 100px; */
    z-index: 2;
    background-color: #fff;
    display: none;
    top: 38px;
    left: 18px;
    border: 1px solid #e8e8e8;
    font-size: 14px;
}
.header_box_seach .associate > li{
    height: 26px;
    line-height: 26px;
    padding: 0 12px 0 10px;
    cursor: pointer;
}
.header_box_seach .associate > li:hover{
    background-color: #f8f5f0;
    color: #b4a078;
    overflow: hidden;
}
/* input框内seach图标 */
.header_box_seach .seach_icon{
    display: block;
    background: url(../images/icon.jpg) 0 -518px;
    height: 14px;
    width: 14px;
    position: absolute;
    left: 18px;
    top: 12px;
}
/* input框内文字 */
.header_box_seach .seach_text{
    position: absolute;
    top: 12px;
    left: 38px;
    color: #999;
    display: block;
    line-height: 1;
    cursor: text;
    touch-action: none;
    -ms-touch-action: none;
    pointer-events: none;
    -ms-pointer-events: none;
    -webkit-user-select: none;
    white-space: nowrap;
    overflow: hidden;
    width: 390px;
    text-overflow: ellipsis;
    font-size: 14px;
}
/* 搜索点击按钮 */
.header_box_seach_btn{
    width: 90px;
    height: 38px;
    background-color: #CC9756;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    cursor: pointer;
    float: right;
    color: #fff;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    box-sizing: border-box;
}
.header_box_seach_btn:hover{
    background-color: #e2c199;
}
/* 购物车按钮 */
.header_box_cart{
    position: relative;
    margin-top: 26px;
    margin-left: 49px;
    float: right;
    width: 134px;
    height: 38px;
    /* background-color: pink; */
}
/* 购物车框 */
.header_box_cart_center{
    position: relative;
    cursor: pointer;
    width: 134px;
    height: 38px;
    border: 1px solid #CC9756;
    border-radius: 19px;
    padding: 8px 0;
    box-sizing: border-box;
}
.header_box_cart_center:hover{
    background-color: #f5f3ef;
}
/* 车车icon */
.header_box_cart_center .icon_cart_l{
    background: url(../images/icon.jpg) 0 -148px;
    height: 18px;
    width: 18px;
    margin-left: 22px;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    font-size: 12px;
}
/* 购物车文字 */
.header_box_cart_center .header_box_cart_center_text{
    color: #CC9756;
    /* margin-left: 5px; */
    margin-top: -1px;
    font-size: 14px;
    vertical-align: top;
}
/* 红点数量 */
.icon_cart_r{
    margin-left: 5px;
    margin-top: -1px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    z-index: 1;
    height: 19px;
    width: 19px;
    background: url(../images/icon.jpg) 0 -51px;
    font-size: 12px;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}
/* 热搜 */
.header_box_hotKey{
    float: left;
    margin-top: 9px;
    margin-left: 25px;
    width: 444px;
    height: 18px;
    overflow: hidden;
    font-size: 12px;
}
.hotKeyWord{
    display: inline-block;
    color: #CC9756;
    padding: 0 10px 0 6px;
    border-right: 1px solid #ccc;
    cursor: pointer;
    line-height: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 444px;
    font-size: 12px;
}
.hotKeyWord:last-child{
    border-right: none;
    color: #999;
}
.hotKeyWord:last-child:hover{
    color: #CC9756;
}
/* tab导航 */
.header_box_nav{
    line-height: 1;
    font-weight: 700;
    position: absolute;
    height: 30px;
    bottom: 21px;
    width: 100%;
}
/* li */
.header_box_nav_item{
    float: left;
    margin-top: 27px;
    padding: 0 26px;
    font-size: 14px;
    box-sizing: border-box;
}
/* 导航hover效果 */
/* .header_box_nav_item>a:hover{
    color: #CC9756;
    border-bottom: 3px solid #CC9756;
} */
/* .header_box_nav_item>a.active{
    color: #CC9756;
    border-bottom: 3px solid #CC9756;
} */
/* first首页 */
.header_box_nav_item.first_item{
    margin-left: 0;
    padding-left: 0;
}
/* last众筹 */
.header_box_nav_item.last_item{
    margin-right: 0;
    padding-right: 0;
}
/* 边框线 */
.header_box_nav_item.before::before{
    content: "";
    width: 1px;
    height: 14px;
    border-left: 1px solid #ccc;
    margin-left: -26px;
    margin-top: 1px;
    float: left;
}
/* a标签 */
.header_box_nav_item>a{
    display: block;
    padding-bottom: 7px;
    color: #000;
}
/* 首页默认选中 */
.header_box_nav_item > .active{
    color: #CC9756;
    border-bottom: 3px solid #CC9756;
}
/* .header_box_nav_item:nth-of-type(2):hover .yx_dropdown{
    display: block;
} */
/* 导航列表 */
.yx_dropdown{
    /* width: 1202px; */
    /* height: 405px; */
    left: -56px;
    right: auto;
    display: none;
    background-color: #fff;
    position: absolute;
    top: 51px;
    background-color: transparent;
}
/* ul列表 */
.yx_cateGroupList{
    padding: 14px 20px 20px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.1);
}
/* 清除塌陷 */
.yx_clearfix::before{
    content: " ";
    display: table;
}
.yx_clearfix::after{
    content: " ";
    display: table;
    clear: both;
}
/* 列表内的每个组 */
.yx_cateGroup{
    width: 124px;
    float: left;
    margin-right: 24px;
}
.yx_cateGroup:last-child{
    margin-right: 0;
}
/* 每个组的小标题 */
.yx_cateGroup-name{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    border-bottom: 1px solid #ddd;
    max-width: 124px;
    width: 124px;
}
/* 每个组的内容盒子 */
.yx_cateColumn{
    float: left;
    width: 125px;
    margin-left: 24px;
    box-sizing: border-box;
}
.yx_cateColumn:first-child{
    margin-left: 0;
    margin-top: 2px;
}
/* 每个组的内容 */
.yx_cateItem{
    margin-bottom: 4px;
    font-weight: 400;
    line-height: 50px;
}
.yx_cateItem > a:hover{
    color: #b4a078;
}
/* 列表菜单图片 */
.yz_subCate_icon{
    height: 50px;
    width: 50px;
}
/* 列表菜单text */
.yx_subCate_text{
    display: inline-block;
    width: 70px;
    max-width: 70px;
    max-height: 48px;
    font-size: 14px;
    vertical-align: middle;
    line-height: 1.2;
    overflow: hidden;
    box-sizing: border-box;
}


/* 主体 */

.banner{
    height: 420px;
    background-color: #f5f5f5;
    overflow: hidden;
}
/* 轮播图 */
.banner_box{
    width: 1920px;
    height: 420px;
    margin: 0 auto;
    overflow: hidden;
}
.swiper_box1 img{
    width: 100%;
    height: 100%;
}
/* 按钮切换 */
.swiper-button-prev{
    left: 350px;
    z-index: 9;
    top: 220px!important;
    width: 50px;
    height: 50px;
    opacity: 80;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
    border-radius: 500px;
    background: url(../images/tb2.jpg) 0 -5408px #E2C199;
}
.swiper-button-prev:hover{
    background-color: #cc9756;
}
.swiper-button-next{
    right: 370px;
    z-index: 9;
    top: 220px!important;
    width: 50px;
    height: 50px;
    opacity: 80;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
    border-radius: 500px;
    background: url(../images/tb2.jpg) 0 -5628px #E2C199;
}
.swiper-button-next:hover{
    background-color: #cc9756;
}
/* 分页器小圆点 */
.swiper_box1 .swiper-pagination{
    height: 13px;
    padding-top: 5px;
    margin-left: -15px;
    bottom: 17px !important;
}
.swiper_box1 .swiper-pagination-bullet{
    width: 9px;
    height: 9px;
    background: #FFFFFF;
    border: 1px solid #cecece;
    opacity: 1;
    box-sizing: border-box;
    margin-left: 12px !important;
}
.swiper_box1 .swiper-pagination > .swiper-pagination-bullet-active{
    background: #A7936E;
    box-shadow: 0 0 0 4px #dfcead;
}



/* 新品 */
.newProducts{
    height: 510px;
    margin-top: 30px;
    /* overflow: hidden; */
}
.newProducts .swiper-slide{
    width: 265px !important;
}
.newProducts_content{
    width: 1090px;
    height: 510px;
    margin: 0 auto;
    position: relative;
}
.newProducts_content_top{
    padding-bottom: 20px;
}
.newProducts_content_top::before{
    content: " ";
    display: table;
}
.newProducts_content_top::after{
    content: " ";
    display: table;
    clear: both;
}
.newProducts_content_top_l{
    line-height: 1;
}
/* 新品首发 */
.newProducts_content_top .name{
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    float: left;
    margin-right: 20px;
    margin-bottom: 0;
}
/* 为你寻觅世间好物 */
.newProducts_content_top .frontName{
    padding-top: 13px;
    display: inline-block;
    line-height: 1;
    font-size: 14px;
}
/* 更多新品 > */
.newProducts_content_top .moreItems{
    display: inline-block;
    line-height: 1;
    margin-left: 30px;
    padding-top: 14px;
    cursor: pointer;
    font-size: 14px;
}
.newProducts_content_top a:hover{
    color: #b4a078;
}
.swiper_box2 .swiper-button-prev{
    left: 0px;
}
.swiper_box2 .swiper-button-next{
    right: 0px;
}
/* .swiper-wrapper{
    height: 380px;
} */
.swiper-slide{
    line-height: 1;
    text-align: center;
    font-size: 13px;
    overflow: hidden;
    /* width: 265px !important; */
    margin-right: 10px;
    /* margin-bottom: 10px; */
}
.sp_img{
    background-color: #f4f4f4;
}
.sp_img>img{
    width: 100%;
    height: 100%;
}
.swiper-slide .bd{
    margin-top: 8px;
}
.prdtTags{
    height: 20px;
    font-size: 0;
    color: #fff;
    width: 200px;
    margin: 0 auto 3px;
    overflow: hidden;
}
.prdtTags .itemTag{
    height: 20px;
    line-height: 20px;
    color: #fff!important;
    padding: 0 5px;
    background-color: #e36844;
    margin-left: 6px;

    display: inline-block;
    font-size: 12px;
}
.name{
    width: 156px;
    margin: 0 auto 4px;
    max-height: 40px;
    line-height: 20px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: bold;
    box-sizing: border-box;
}
.newProducts_content_top .name{
    width: 112px;
}
.price{
    padding: 1px 0 9px;
    font-size: 13px;
    line-height: 13px;
    color: #d4282d;
    margin: 0;
}
.price .counterPrice{
    font-size: 12px;
    color: #999;
    margin-left: 5px;
    text-decoration: line-through;
}
.colorNum{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    font-size: 12px;
    color: #a7936e;
    border: 1px solid #b3a07d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 4px;
    line-height: 18px;
    background-color: #f4f0ea; 
    box-sizing: border-box;
}
.promBanner{
    text-align: left;
    position: absolute;
    /* bottom: 80px; */
    top: 235px;
    left: 0;
    width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    padding-right: 10px;
    background-color: #f38245;
}
.promBanner .promTitle{
    max-width: 200px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
    margin-top: -6px;
    z-index: 1;
    padding-left: 8px;
    padding-right: 14px;
    float: left;
    border-top-left-radius: 3px;
    background: url(../images/bg0.png) -35px 0;
}
.promBanner .promTitle .title{
    width: 60px;
    font-size: 12px;
    height: 15px;
    line-height: 1;
    margin-top: 5px;
    margin-left: 0;
    padding-top: 0;
    text-align: center;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.promBanner .promTitle .subTitle{
    width: 60px;
    font-size: 14px;
    height: 20px;
    line-height: 14px;
    margin-top: -1px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.promBanner .promTitle .subTitle .qi{
    font-weight: 400;
    font-size: 12px;
    display: inline-block;
}
.promBanner .promContent{
    color: #fff;
    text-align: left;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 4px;
    padding-left: 4px;
}


/* 人气推荐 */
.indexPopularItem{
    height: 738px;
    background-color: #f4f0ea;
    padding: 60px 0;
    box-sizing: border-box;
}
.indexPopularItem .g-row{
    width: 1090px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.g-row::before, .g-row::after{
    content: " ";
    display: table;
}
.g-row::after{
    clear: both;
}
.indexPopularItem .tabList{
    overflow: hidden;
    padding-left: 13px;
    float: left;
    box-sizing: border-box;
}
.indexPopularItem .innerWarp{
    overflow: hidden;
    position: relative;
    display: block;
}
.indexPopularItem .tabList .innerWarp .item{
    text-align: center;
    float: left;
    font-size: 14px;
    width: 70px;
    height: 28px;
    line-height: 28px;
    margin-right: 55px;
}
.indexPopularItem .tabList .innerWarp .item.active{
    border-bottom: 2px solid #b4a078;
}
.indexPopularItem .tabList .innerWarp .item.active a{
    color: #b4a078;
}
.indexPopularItem .showContainer{
    clear: both;
    overflow: hidden;
}
.indexPopularItem .popularItem{
    background-color: #fff;
    overflow: hidden;
    width: 223px;
    height: 280px;
    float: left;
    margin-left: 10px;
    text-align: center;
    position: relative;
    font-size: 13px;
}
.indexPopularItem .popularItem.down{
    margin-top: 10px;
}
.indexPopularItem .popularItem:first-child{
    width: 390px;
    height: 570px;
    margin-left: 0;
}
.indexPopularItem .popularItem:first-child .img{
    width: 320px;
    height: 320px;
    margin: 40px 35px;
}
.indexPopularItem .popularItem .hd{
    background: 0 0;
    border-bottom: 1px solid #F4F0EA;
    margin-bottom: 8px;
    height: 180px;
}
.indexPopularItem .popularItem:first-child .hd{
    margin-bottom: 18px;
    height: 400px;
}
.indexPopularItem .popularItem:first-child .bd .prdtTags{
    margin-bottom: 10px;
}
.indexPopularItem .popularItem:first-child .bd .name{
    line-height: 26px;
    max-height: 52px;
    margin: 0 auto 13px;
    font-size: 18px;
    width: 248px;
}
.indexPopularItem .popularItem .bd .name>a:hover{
    color: #b4a078;
}

.indexPopularItem .popularItem:first-child .bd .price span{
    font-size: 18px;
    height: 18px;
    line-height: 1;
}
.popularItem .promBanner{
    top: 150px;
}
.popularItem .promBanner.first{
    top: 370px;
}
.indexPopularItem .popularItem .img{
    width: 180px;
    height: 180px;
    position: relative;
}
.showContainer.hide{
    display: none;
}

/* 限时购 */
/* .flashSaleContainer{
    height: 535px;
} */
.flashSaleContainer .g-row{
    width: 1090px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-top: 58px;
}
.flashSaleContainer .bd{
    height: 429px;
    width: 100%;
    overflow: hidden;
}
.flashSaleContainer .flashSaleLt{
    position: relative;
    height: 429px;
    width: 224px;
    padding-top: 60px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    background: url(http://yanxuan.nosdn.127.net/a0d0bd891ebb55308dbddda736ed53cc.png?imageView&type=webp) center center no-repeat #fff;;
}
.flashSaleContainer .screenHd{
    height: 36px;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 11px;
    color: #615548;
}
.flashSaleContainer .line{
    width: 20px;
    height: 2px;
    margin: 0 auto 18px;
    background: #61594b;
}
.flashSaleContainer .screenEndTips{
    margin-bottom: 18px;
    font-size: 18px;
    color: #615548;
    line-height: 22px;
    height: 22px;
}
.flashSaleContainer .countDown{
    height: 40px;
    margin-bottom: 50px;
    text-align: center;
}
.flashSaleContainer .countDown span{
    display: inline-block;
}
.flashSaleContainer .countDown .w-cd{
    width: 40px;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    background-color: #615548;
    border-radius: 2px;
    box-sizing: border-box;
}
.flashSaleContainer .countDown .colon{
    font-weight: 700;
    padding: 0 2px;
}
.flashSaleContainer .seeMoreBtn{
    display: block;
    width: 110px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    background-color: #a7936e;
    cursor: pointer;
    border-radius: 15px;
    box-sizing: border-box;
}
.flashSaleContainer .flashSaleRt{
    margin-left: 224px;
    height: 429px;
}
.flashSaleContainer .flashSaleProduct{
    float: left;
    width: 433px;
    height: 214px;
    border: 1px solid #f0ece4;
    border-left: none;
    background-color: #fff;
    box-sizing: border-box;
}
.flashSaleContainer .flashSaleProduct .lt{
    float: left;
    width: 180px;
    height: 180px;
    cursor: pointer;
    overflow: hidden;
    margin: 3px 0;
    box-sizing: border-box;
}
.flashSaleContainer .flashSaleProduct .lt .pic{
    width: 180px;
    height: 180px;
    border: 1px solid transparent;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    color: #fff;
    position: relative;
}
.flashSaleContainer .flashSaleProduct .rt{
    margin-left: 180px;
    height: 187px;
    padding-top: 14px;
    box-sizing: border-box;
}
.flashSaleContainer .flashSaleProduct .rt .itemName{
    display: -webkit-box;
    overflow: hidden;
    max-height: 52px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    color: #666;
}
.flashSaleContainer .flashSaleProduct .rt .itemName > a:hover{
    color: #b4a078;
}
.flashSaleContainer .flashSaleProduct .rt .itemDes{
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.flashSaleContainer .flashSaleProduct .rt .itemNum{
    padding: 14px 0 8px;
    height: 36px;
    box-sizing: border-box;
}
.flashSaleContainer .flashSaleProduct .rt .itemNum .numBar{
    float: left;
    position: relative;
    width: 152px;
    height: 10px;
    margin: 2px 0;
    border: 1px solid #f2cecd;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
}
.flashSaleContainer .flashSaleProduct .rt .itemNum .numBar .numBarIn{
    background-color: #ffe5e5;
    height: 10px;
    width: 130px;
    box-sizing: border-box;
}
.flashSaleContainer .flashSaleProduct .rt .itemNum .numTips{
    height: 14px;
    margin-left: 162px;
    font-size: 14px;
    color: #999;
    line-height: 14px;
    box-sizing: border-box;
}
.flashSaleContainer .flashSaleProduct .rt .itemPrice{
    font-size: 14px;
    line-height: 1;
    vertical-align: baseline;
    box-sizing: border-box;
}
.flashSaleContainer .flashSaleProduct .rt .itemPrice .aPrice{
    color: #be4141;
}
.flashSaleContainer .flashSaleProduct .rt .itemPrice .oPrice{
    color: #999;
}
.flashSaleContainer .flashSaleProduct .rt .w-btn{
    background-color: #be4141;
    color: #fff;
    display: block;
    width: 118px;
    height: 31px;
    margin-top: 18px;
    line-height: 31px;
    text-align: center;
    font-size: 16px;
    border-radius: 2px;
    cursor: pointer;
}
.flashSaleContainer .flashSaleProduct .rt .w-btn:hover{
    background-color: #da4f4f;
}

/* 页脚 */
.YXComponentFoot{
    height: 549px;
    margin-top: 60px;
}
.YXComponentFoot .yx_foot{
    clear: both;
    padding-top: 0;
}
/* 高度塌陷 */
.YXComponentFoot .yx_foot::before,.YXComponentFoot .yx_foot::after{
    content: " ";
    display: table;
}
.YXComponentFoot .yx_foot::after{
    clear: both;
}
.yx_foot .yx_ft1{
    padding-top: 60px;
    padding-bottom: 34px;
    background-color: #fff;
    border-top: 1px solid #e8e8e8;
    box-sizing: border-box;
}
.yx_foot .yx_row{
    width: 1090px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
.yx_foot .yx_row::after,.yx_foot .yx_row:before{
    content: " ";
    display: table;
}
.yx_foot .yx_row::after{
    clear: both;
}
.yx_foot .yx_ft1 .yx_item{
    width: 33.33333%;
    height: 204px;
    float: left;
    border-left: 1px solid #e9e9e9;
    box-sizing: border-box;
}
.yx_foot .yx_item:first-child{
    border-left: 0;
}
.yx_foot .yx_serviceTel{
    text-align: center;
    line-height: 1;
}
.yx_foot .yx_hd{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
    line-height: 1;
}
.yx_foot .yx_ft_btn{
    width: 80px;
    height: 100px;
    font-size: 14px;
    background-color: #fff;
    padding-top: 25px;
    text-align: center;
    border: 1px solid #E8E8E8;
    border-radius: 2px;
    vertical-align: middle;
    letter-spacing: normal;
    line-height: 26px;
    color: #333;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
}
.yx_foot .yx_ft_btn:hover{
    color: #b4a078;
}
.yx_foot .yx_feedback_btn{
    margin-left: 29px;
}
.yx_foot .yx_ft_icon{
    background: url(../images/tb.jpg);
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    font-size: 12px;
    word-spacing: normal;
    letter-spacing: normal;
    box-sizing: border-box;
}
.yx_foot .yx_ft_icon.icon_service{
    background-position: 0 -290px;
    height: 26px;
    width: 31px;
}
.yx_foot .yx_ft_txt{
    margin-top: 10px;
}
.yx_foot .yx_ft_icon.icon_feedback{
    background-position: 0 -97px;
    height: 27px;
    width: 30px;
}
.yx_foot .yx_ft_btn:hover .yx_ft_icon.icon_feedback{
    background-position: 0 -60px;
}
.yx_foot .yx_ft_btn:hover .yx_ft_icon.icon_service{
    background-position: 0 -254px;
}
.yx_foot .whatIsYX{
    padding: 0 37px;
    text-align: center;
    line-height: 1;
}
.yx_foot .yx_desc{
    text-align: left;
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 22px;
}
.yx_foot .followUs{
    padding: 0 37px;
    line-height: 1;
    text-align: left;
}
.yx_foot .followUs::before,.yx_foot .followUs::after{
    content: " ";
    display: table;
}
.yx_foot .followUs::after{
    clear: both;
}
.yx_foot .title{
    margin-right: 15px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 32px;
    float: left;
}
.yx_foot .followWayList{
    float: left;
}
.yx_foot .icon_yx{
    background-position: 0 -470px;
    height: 32px;
    width: 32px;
}
.yx_foot .icon_wx{
    background-position: 0 -428px;
    height: 32px;
    width: 32px;
}
.yx_foot .icon_wb{
    background-position: 0 -326px;
    height: 32px;
    width: 32px;
}
.yx_foot .followWay{
    margin-right: 15px;
}

.yx_foot .ftAppDownload{
    text-align: center;
}
.yx_foot .footQRcode{
    display: inline-block;
    width: 104px;
    height: 104px;
}
.yx_foot .footQRcode>img{
    width: 100%;
    height: 100%;
}
.yx_foot .tip{
    color: #b4a078;
    font-size: 12px;
    margin-top: 8px;
}
/* 页脚最后 */
.yx_foot .yx_ft2{
    height: 250px;
    padding-top: 37px;
    background-color: #414141;
    box-sizing: border-box;
}
/* 高度塌陷 */
.yx_foot .yx_ft1::before,.yx_foot .yx_ft1::after,.yx_foot .yx_ft2::before,.yx_foot .yx_ft2::after{
    content: " ";
    display: table;
}
.yx_foot .yx_ft1::after,.yx_foot .yx_ft2::after{
    clear: both;
}
.yx_foot .siteEnsure{
    margin-bottom: 30px!important;
    padding-left: 17px;
}
.yx_foot .siteEnsure::before,.yx_foot .siteEnsure::after{
    content: " ";
    display: table;
}
.yx_foot .siteEnsure::after{
    clear: both;
}
.yx_foot .siteEnsure .yx_item{
    float: left;
    margin-right: 122px;
}
.yx_foot .siteEnsure .yx_item:last-child{
    margin-right: 0;
}
.yx_foot .siteEnsure .yx_item .yx_inner{
    color: #fff;
    font-size: 18px;
    line-height: 51px;
    display: inline-block;
    vertical-align: middle;
}
.yx_foot .siteEnsure .yx_item .yx_inner .yx_ft_icon,.yx_foot .siteEnsure .yx_item .yx_inner .yx_text{
    float: left;
}
.yx_foot .siteEnsure .yx_item .yx_inner .yx_ft_icon{
    margin-right: 17px;
    background-image: url(../images/tb.jpg);
}
.yx_foot .siteEnsure .yx_item .yx_inner .yx_yx_icon{
    background-position: 0 -134px;
    height: 50px;
    width: 50px;
}
.yx_foot .siteEnsure .yx_item .yx_inner .yx_wy_icon{
    background-position: 0 -368px;
    height: 50px;
    width: 51px;
}
.yx_foot .siteEnsure .yx_item .yx_inner .yx_by_icon{
    background-position: 0 0;
    height: 50px;
    width: 51px;
}
.yx_foot .siteEnsure .yx_item .yx_inner .yx_pz_icon{
    background-position: 0 -194px;
    height: 50px;
    width: 50px;
}
.yx_foot .siteEnsure .yx_item .yx_inner .yx_text{
    color: #fff;
    font-size: 18px;
    line-height: 51px;
    display: inline-block;
    vertical-align: middle;
}
.yx_foot .yx_hr{
    height: 1px;
    margin-bottom: 27px;
    background-color: #4f4f4f;
    border: 0;
    box-sizing: border-box;
}
.yx_foot .siteInfo{
    text-align: center;
    color: #999;
    position: relative;
    font-size: 0;
}
.yx_foot .siteInfo .yx_nav .yx_text{
    color: #999;
    font-size: 12px;
    line-height: 18px;
}
.yx_foot .siteInfo .yx_nav .split{
    margin: auto 13px;
    font-size: 12px;
    font-weight: bold;
}
.yx_foot .siteInfo .copyright{
    white-space: nowrap;
    margin: 11px 0;
    font-size: 0;
}
.yx_foot .siteInfo .copyright a,.yx_foot .siteInfo .copyright span.yx_cr_text{
    color: #999;
    margin-right: 15px;
    font-size: 12px;
}
.yx_foot .siteInfo .copyright span{
    font-size: 12px;
}
.yx_foot .siteInfo .police a, .yx_foot .siteInfo .police span{
    color: #999;
    font-size: 12px;
}
.yx_foot .siteInfo .police .shield img{
    width: 23px;
    height: 25px;
    margin-top: -5px;
}
.yx_foot .siteInfo a:hover,.yx_foot .siteInfo .yx_nav a:hover{
    color: #ffffff;
}

.to_top{
    width: 60px;
    /* height: 50px; */
    position: fixed;
    right: 300px;
    bottom: 200px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    color: #ccc;
    text-align: center;
    border-radius: 10px;
    z-index: 999;
    display: none;
}
.to_top p{
    width: 45px;
    margin: 0 auto;
}
